.all-customers {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .customer:last-child {
    margin-top: 20px;
  }
  .customer {
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    :first-child {
      flex: 1;
      text-align: center;
    }
    :nth-child(2) {
      background-color: rgb(221, 221, 221);
      padding: 1px 4px 1px 0;
      border-radius: 5px;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      img {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
.customer-add-customer-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 10px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dotted gray;
      width: 25%;
      height: 38px;
      border-radius: 5px;
    }
  }
}
.customer-dialog-buttons-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
