.all-jobs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .job {
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px yellowgreen;
  }
  .job-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .first-row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-weight: bold;
      text-align: center;
      :first-child {
        width: 50%;
      }
      :nth-child(2) {
        width: 50%;
      }
    }
    .second-row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      :first-child {
        min-width: 45%;
      }
    }
  }
}
.react-datepicker-wrapper {
  width: 96%;
}
.custom-datepicker {
  margin-top: 3px;
  width: 100%;
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid gray;
}
.jobs-dialog-buttons-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.edit-job-input::part(base),
.edit-job-input::part(combobox) {
  opacity: 1;
  background-color: white;
}
.new-job-creator {
  border: 1px solid red;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;

  sl-button {
    margin-top: 10px;
  }
}
