.home-content-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
  box-shadow: inset 0px 0px 0px 1px green;
  .input-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    input {
      font-size: 24px;
      height: 40%;
      width: 80%;
      border-radius: 5px;
      text-align: center;
    }
  }
}
.homepage-all-jobs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .job {
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px yellowgreen;
  }
  .job-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
      margin: 3px;
      font-weight: bold;
    }
    .second-row {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
.selected {
  border: 2px solid black;
}
